<%
var separator = theme.title_join_string || theme.tab_title_separator
var title = page.title ? [page.title, config.title].join(separator) : config.title
var keywords = page.keywords || config.keywords
if (keywords instanceof Array) {
  keywords = keywords.join(',')
}
var description = page.description || page.excerpt || (is_post() && page.content) || config.description
if (description) {
  description = escape_html(strip_html(description).substring(0, 200).trim()).replace(/\n/g, ' ')
}
var ogImage = page.og_img || page.index_img
var ogConfig = Object.assign({ image: ogImage && url_for(ogImage) }, theme.open_graph)
%>

<head>
  <meta charset="UTF-8">
  <meta name="baidu-site-verification" content="code-l7Baw38I2G" />
  <link rel="apple-touch-icon" sizes="76x76" href="<%= url_for(theme.apple_touch_icon) %>">
  <link rel="icon" href="<%= url_for(theme.favicon) %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <% if (theme.force_https) { %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <% } %>
  <meta name="theme-color" content="<%= theme.color.navbar_bg_color %>">
  <meta name="author" content="<%= page.author || config.author %>">
  <meta name="keywords" content="<%= keywords %>">
  <% if (theme.open_graph.enable) { %>
    <%- open_graph(ogConfig) %>
  <% } else { %>
    <meta name="description" content="<%= description %>">
  <% } %>
  <% if (theme.custom_head) { %>
    <%- theme.custom_head %>
  <% } %>
  <title><%= title %></title>
  <script>
    (async () => {//使用匿名函数确保body已载入
    /*
    ChenBlogHelper_Set 存储在LocalStorage中,用于指示sw安装状态
    0 或不存在 未安装
    1 已打断
    2 已安装
    3 已激活,并且已缓存必要的文件(此处未写出,无需理会)
    */
    const $ = document.querySelector.bind(document);//语法糖
    if ('serviceWorker' in navigator) { //如果支持sw
        if (Number(window.localStorage.getItem('Redish101BlogHelper_Set')) < 1) {
            window.localStorage.setItem('Redish101BlogHelper_Set', 1)
            window.stop()
            document.body.innerHTML = await (await fetch('/sw_loading.html')).text()
        }
        navigator.serviceWorker.register(`/sw.js?time=${ranN(1, 88888888888888888888)}`)//随机数,强制更新
            .then(async () => {
                if (Number(window.localStorage.getItem('Redish101BlogHelper_Set')) < 2) {
                    setTimeout(() => {
                        window.localStorage.setItem('Redish101BlogHelper_Set', 2)
                        //window.location.search = `?time=${ranN(1, 88888888888888888888)}` //已弃用,在等待500ms安装成功后直接刷新没有问题
                        window.location.reload()//刷新,以载入sw
                    }, 1000)//安装后等待500ms使其激活
                }
            })
            .catch(err => console.error(`Redish101BlogHelperErr:${err}`))
    }
})()
  </script>
    

  <%- partial('_partials/css.ejs') %>
  <%- export_config() %>
  <%- js_ex(theme.static_prefix.internal_js, 'utils.js') %>
  <%- js_ex(theme.static_prefix.internal_js, 'color-schema.js') %>

  <%- inject_point('head') %>
  <!-- 注意每个站点的验证标签都不一样，请勿复制！ -->
</head>